<link rel="stylesheet" href="/css/spotilyzer.css">


<div class="page-wrapper">
    <div class="content">
        <form>
            <div>
                <h1>Login</h1>
                <label>Username</label>
                <input id="usernameInputField" type="text" placeHolder="Username" required/>
                <label>Password</label>
                <input id="passwordInputField" type="password" placeHolder="Password" required/>

                <button onclick="login()" type="submit">Login</button>
            </div>
            <div>
                <button type="button">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
            <div>
                <span class="psw">Don't have an account? <a href="/registerPage">Register</a></span>
            </div>
        </form>
    </div>
</div>
