<!DOCTYPE html>
<link rel="stylesheet" href="/css/spotilyzer.css">
<div class="page-wrapper">
    <title>
        Homepage - Spotilyzer
    </title>
    <div class="content">
        <div class="side-bar" style="margin-top: 10px" id="sidebar-container">
            <script>
                fetch('/components/sidebar.html')
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById('sidebar-container').innerHTML = html;
                    })
                    .catch(error => console.error('Error loading sidebar:', error));
            </script>
        </div>
        <div class="main-content" id="main-content">
            <script>
                fetch('/components/dashboard.html')
                    .then(response => response.text())
                    .then(async html => {
                        document.getElementById('main-content').innerHTML = html;

                        const module = await import('/js/dashboardUI.js');
                        module.init()
                    })
                    .catch(error => console.error('Error loading main-content:', error));
            </script>
        </div>
    </div>
</div>

<script src="/js/register.js"></script>
<script src="/js/openSideMenuBar.js"></script>
<script type="module" src="/js/dashboardUI.js"></script>
