<link rel="stylesheet" href="/css/spotilyzer.css">


<div class="page-wrapper">
  <div class="content">
    <form>
      <div>
        <h1>Login</h1>
        <label>Username</label>
        <input id="usernameInputField" type="text" placeHolder="Username" required/>

        <label>Password</label>
        <input id="passwordInputField" type="text" placeHolder="Password" required/>

        <label>Password confirmation</label>
        <input id="confirmPasswordInputField" type="text" placeHolder="repeat password" required/>

        <button onclick="register()" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>