<link rel="stylesheet" href="/css/spotilyzer.css">


<div class="page-wrapper">
  <div class="content">
    <form id="registerForm">
      <div>
        <h1>Registration</h1>
        <label>Username</label>
        <input id="usernameInputField" type="text" placeHolder="Username" required/>

        <label>Password</label>
        <input id="passwordInputField" type="password" placeHolder="Password" required/>

        <label>Password confirmation</label>
        <input id="confirmPasswordInputField" type="password" placeHolder="repeat password" required/>

        <button type="submit">Register</button>
      </div>
    </form>
  </div>
</div>

<script src ="/js/register.js"></script>
