<link rel="stylesheet" href="/css/spotilyzer.css">


<div class="page-wrapper">
    <title>
        Homepage - Spotilyzer
    </title>

    <div class="content">

        <input readonly>USERNAME</input>
        <button>CHANGE USERNAME MAYBE WITH PEN LOGO</button>
        <input readonly>PASSWORD CRYPTED</input>
        <button>CHANGE PASSWORD MAYBE WITH PEN LOGO</button>

        <div>
            JOINED ON DATE ON JOIN
        </div>
        <hr>

        <button>CLICK TO CONNECT SPOTIFY</button>


        <button class="deleteBtn">DELETE ACCOUNT</button>
    </div>
</div>
