<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Toplevel-->
<div class="bg-gradient">

    <!--HEADER-->
    <div class="header-section">
        <div class="header-container">
            <div class="header-left">
                <div style="display: flex; align-items: center">
                    <img class="profile-pic" src="" alt="Profile Picture">
                    <div>
                        <h1 style="margin: 0; color: #f1f1f1; font-size: 2rem;">Dashboard</h1>
                    </div>
                </div>
                <div class="p-container">
                    <p>Showing your Data</p>
                    <p style="margin: 5px 0 0 0; font-weight: bold;">01 Mar, 2024 - 14 Mar, 2024</p>
                </div>
            </div>
            <div class="header-right">
                <p>Some extra stats...</p>
            </div>
            <!--        CREATED PLAYLIST-->
            <!--        CREATED AT-->
            <!--        HOW MUCH MONEY YOU LOST-->
            <!--        TOP ARTISTS-->
        </div>
        <div class="dashboard-main-container">
            <div class="dashboard-layout">
            </div>
        </div>
    </div>
</div>

</body>

<script type="module" src="/js/DashboardDataService.js"></script>
<script type="module" src="/js/dashboardUI.js"></script>

</html>
